body{
    overflow-x: hidden;
	background-color: #eaf0da;
}

.logo{
	position: absolute;
	margin-left: 10px;
	cursor: pointer;
}

h3{
	color: white;
}

.btn{
    cursor: pointer;
}
#page_login{
    height: 100%;
	width: 100%;
	display: none;
}
#page_administrer_utilisateur{
	display: none;
	margin: 0 auto;
	width: 80%;
}

#page_confirmer_inscription {
	display: none;
	margin: 0 auto;
	width: 80%;
}
#page_confirmer_utilisateur{
	height: 100%;
	width: 80%;
	margin-left: 10%;
	margin-top: 25px;
	display: none;
}

#page_accueil{

    height: 100%;
    width: 100%;
}
#page_inscription{
	height: 100%;
	width: 100%;
	display: none;
}

#msg_reussite_inscription{
	color: green;
	display: none;
}


/* CHECKBOX TABLE CELL */

#checkBoxTableCell{
  text-align: center;
  vertical-align: middle;
}

#icone_photo_pref{
  max-width: 30px;
}

.visualisation_devis_text{
  color: black;
  display: block;
}

.images_preview_div{
  display: inline-block;
  margin: 5px;
}

.select_image_type{
  max-width: 150px;
  display: block;
}

.radio_btn_image_pref{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

/* DropDown Menu */
.dropdown {
	position: relative;
  	display: inline-block;
}


.images_preview{
  display: inline-block;
  max-width:230px;
  max-height:95px;
  margin: 5px;
  width: auto;
  height: auto;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
 	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.dropdown-content span {
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
}

#menu_btn_dropdown {
	margin-left: 0px;
}

.dropdown{
	margin-left: 40px
}

.dropdown:hover .dropdown-content {
  display: block;
}


#error_date_debut_travaux{
  color: #D8000C;
}

/* FORMULAIRE INTRODUIRE CLIENT */
#form_introduire_client{
	display: none;
	max-width: 50%;
	margin-left: 10%;
}

/* FORM INTRODUCTION DEVIS */
#form_introduire_devis {
	max-width: 70%;
}

#form_introduction_total{
	display: flex;
}



.header{
	position: relative;
	margin: 0px;
	height: 70px;
	width: 100%;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	background-image: url(image/header.jpg);
	color: white;
}
#header_accueil_ouvrier{
	position: relative;
	display: none;
}
#header_accueil_visiteur{
	position: relative;
	display: none;
}
#header_accueil_client{
	position: relative;
	display: none;
}

.btn_logout , #btn_accueil_login , #btn_accueil_inscription{
    height: 35px;
    margin-left: 10px;
}
.msg_accueil_bonjour {
    text-transform: capitalize;
}

#msg_error_login,#msg_error_inscription,#msg_error_creation_client{
	position: relative;
	color:brown;
	display: none;
}

.menu_accueil{
	position: relative;
	height: fit-content;
	width: max-content;
	margin-left: 50%;
	transform: translateX(-50%);
	padding: 5px;
	cursor: pointer;
}

.menu_btn_item{
	display: inline-flex;
	min-height: 70px;
	margin-left: 40px;
	margin-top: 18px;
	transition: 0.3s;

}
.menu_btn_text{
	position: relative;
	margin-top: 40px;
}

.menu_btn_item:hover{
	color: #23a4ba;
}


/* DROPDOW ELEMENT */

.menu_list_amenagement_item{
	display: block;
}

.menu_btn_item_list_element{
	text-align: center;
	transition: 0.5s;

}

#menu_btn_administrer_utilisateur{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#menu_btn_confirmer_inscription{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.menu_btn_item_list_element:hover{
	background-color: #23a4ba;
}

.dropdown-content{
	border-radius: 10px;
}

.msg_accueil_bonjour{
	font-size: 13px;
	top: 5px;
	position: absolute;
	right: 170px;
}
.btn_logout , #btn_accueil_login , #btn_accueil_inscription{
	top: 5px;
	cursor: pointer;
	font-size: 13px;
	position: absolute;
}

#btn_accueil_inscription{
	right: 150px;
}

#btn_accueil_login{
	right: 40px;
}

.btn_logout:hover{
	text-decoration: underline;
	color: #23a4ba;
}
.btn_logout{
	right: 40px;
}
#btn_accueil_login:hover{
	text-decoration: underline;
	color: #23a4ba;
}
#btn_accueil_inscription:hover{
	text-decoration: underline;
	color: #23a4ba;
}

#form_login{
	position: relative;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: max-content;
	height: fit-content;
	text-align: center;
	transform: translate(-50% , -50%);
}

.btn_form {
	background-color:#d4e3e5;
	border-radius:28px;
	border:1px solid #4592af;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:12px 21px;
	margin-bottom: 7px;
	text-decoration:none;
}
.btn_form:hover {
	background-color:#4592af;
	color: white;
}

.mini_btn_form {
	background-color:#d4e3e5;
	border-radius:28px;
	border:1px solid #4592af;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
}
.mini_btn_form:hover {
	background-color:#4592af;
	color: white;
}

.input_login {
	font-size:16px;
	border-width:2px;
	border-style:solid;
	border-radius:18px;
	padding:5px;
	border-color:#4592af;
	transition: 0.5s;
}

.input_login:focus {
	border-color:#45c3c7;
	border-radius: 2px;
}

/*PAGE RECHERCHE + MES DEVIS*/

#devis_client{
	display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px;

}
#recherche{
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
#recheche_devis_client_div{
	display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    margin: 10px auto;
    width: 100%;
}
#tooltip
{
  width: 200px;
  position: absolute;
  display:none;
  border: 1px solid black;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background-color:black;
  color:white;
}
#page_devis_client{
	display: none;
}
.divRecherche{
	justify-content: start;
	margin: 10px auto;
    width: 100%;
    height: 450px;
    border:2px solid;
    border-radius: 10px;
    border-color: green;
    display: table-cell;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
	transition: 0.3s;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

#btn_nouveau_amenagement{
	padding: 5px 15px;
	margin-left: 3px;
}
.imageflottanteProfil{
    margin: 0.5%;
    float: left;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    width: 30%;
    height: 95%;

}

.divRecherche:hover{
	background-color: #EDEEF2;
	cursor: pointer;
}

#listeRecherche {
	margin: 0 auto;
	width: 80%;
}


.divTypeAmenagement{
    padding:3.5px;
    margin-left: 1px;
    border-radius: 7px;
    background: linear-gradient(#1BCC50,#0B5D24);
}
.divTypeAmenagement:hover{
    background: linear-gradient(#15CA4C,#0F8834);
    cursor: pointer;
}

.container{
  margin: 10px auto;
  justify-content: start;
  border-radius: 10px;
  font-size: 12px;
  color: black;
  text-align: left;
  padding-left:1%;
  padding:0.5%;
}

.container_visualisation{
  margin: 10px;
  justify-content: start;
  border-radius: 10px;
  font-size: 12px;
  color: black;
  text-align: left;
  padding-left:1%;
  padding:0.5%;
  border : 1px solid;
}
.enTeteTableau{
	background-color: #343a40;

}
th{
	padding:10px;
	padding-left: 1%;
	border-style:solid none none none;
	border-width: 2px;
	border-color:black;

}
.celluleTabRecherche{
	padding: 1%;
	border-style:solid none none solid;
	border-width: 2px;
	border-color:black;
	font-weight: bold;
    font-size: 12px;
    color: black;
    width:min-content;

}
.btn_rectangle{
  border:2px solid black;

}
.btn_rectangle:hover{
	background-color:green;
}

/* PAGE INTRODUCTION DEVIS */

#page_introduire_devis{
	position: relative;
	margin: 5%;
	display: none;
}

#btn_introduire_devis_ajout_manuel{
	color:teal;
	margin-left: 20px;
	text-decoration: underline;
	cursor: pointer;
}
#btn_introduire_devis_ajout_manuel:hover{
	color:#45c3c7;
}

.btn_ajout_photo{
	background-color: white;
	height: 100px;
	width: 100px;
	border: solid;
	border-color: gray;
	color:gray;
	font-size: 12px;
}
.btn_ajout_photo:hover{
	border-color: #18ab29;
	color:#18ab29;
}

#carousel{
	position: relative;
	width: min-content;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 60px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

#msg_error_no_photo{
	position: fixed;
	display: none;
	top: 95%;
	left: 50%;
	transform: translateX(-50%);
	background-color: red;
	opacity: 0;
	transition: 1s;
	width: 50%;
	font-size: large;
	color: white;
	height: fit-content;
	text-align: center;
	border-radius:10px ;
}

/* PAGE ADMINISTRER UTILISATEUR */

#btn_lier_utilisateur_client , #btn_definir_ouvrier{
	position: relative;
	left: 50%;
	transform: translate(-50% , -50%);
}
#content_admin_utilisateur{
	position: relative;
	max-width: 40%;
	left: 50%;
	transform: translateX(-50%);
}


.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;cursor: pointer;}
.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.tftable tr {background-color:#d4e3e5;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.tftable tr:hover {background-color:#e38174;}

.selected{
	background-color: #e38174;
}

#msg_admin_utilisateur_error{
	position: relative;
	left: 50%;
	transform: translate(-50% , -50%);
	text-align: center;
	display: block;
}

/* PAGE ANIMATION LOGIN */
#bg1,
#bg2 {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

#bg1 {
	background: -webkit-linear-gradient(top, rgb(10, 50, 40), rgb(10, 10, 10));
	background: linear-gradient(top, rgb(10, 50, 40), rgb(10, 10, 10));
}

#bg2 {
	opacity: 0;
	background: -webkit-linear-gradient(top, rgb(25, 50, 95), rgb(0, 20, 45));
	background: linear-gradient(top, rgb(25, 50, 95), rgb(0, 20, 45));
}

.particle {
	opacity: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-animation: particleAnim 3s ease-in-out infinite;
	animation: particleAnim 3s ease-in-out infinite;
	border-radius: 100%;
}

@-webkit-keyframes particleAnim {
	0% {
		opacity: 0;
		transform: translateY(-0%);
	}
	15% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(-1500%);
	}
}

@keyframes particleAnim {
	0% {
		opacity: 0;
		transform: translateY(-0%);
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(-1500%);
	}
}
